// Estilo de la página de entrada (login.html)

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 2rem;

    #login-header {
        height: 20vh;
        background: map-get($map: $colors, $key: "charcoal");
        background: -webkit-linear-gradient(top, map-get($map: $colors, $key: "charcoal"), map-get($map: $colors, $key: "eerie-black"));
        background: -moz-linear-gradient(top, map-get($map: $colors, $key: "charcoal"), map-get($map: $colors, $key: "eerie-black"));
        background: linear-gradient(top, map-get($map: $colors, $key: "charcoal"), map-get($map: $colors, $key: "eerie-black"));
        color: map-get($map: $colors, $key: "cultured");
        padding: 0.5rem;

        .breadcrumb-container {
            font-size: smaller;
        }

        h1, h2 {
            text-align: center;
        }
    }

    #login-area {
        width: 100%;
        max-width: 384px;
        margin: 0 auto;

        #login-form {
            display: flex;
            flex-direction: column;
        }
    }
}

@media screen and (min-width: 768px) {
    .login-container {
        #login-area {
            width: 384px;
            margin: 0 auto;
        }
    }
}

@media screen and (min-width: 992px) {
    .login-container {
        flex-direction: row-reverse;
        height: 100vh;
        align-items: center;

        #login-header {
            padding: 1rem;
            width: 50%;
            flex: 1 1 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            background: linear-gradient(0deg, rgba(27, 32, 33, 0.73), rgba(42, 61, 69, 0.73)), url(../../img/bg-login.jpg);
            background-size: cover;
            color: map-get($map: $colors, $key: "cultured");

            .breadcrumb-container {
                .breadcrumb {
                    font-weight: bold;
                    color: map-get($map: $colors, $key: "eerie-black");

                    .breadcrumb-item {
                        color: map-get($map: $colors, $key: "eerie-black");
                    }

                    .active {
                        color: map-get($map: $colors, $key: "eerie-black");
                    }
                }
            }

            .title-group {
                margin: auto auto;
            }
        }

        #login-area {
            width: 50%;
            max-width: unset;
            flex: 1 1 50%;

            #login-form {
                max-width: 384px;
                margin: 0 auto;
            }
        }
    }
}