// Estilos para la página nosotros.
@use "../utilities/colors";

main div.nosotros-content-row {
    margin-top: 2rem;
    padding: 3rem 2rem 2rem 2rem;
    box-shadow: 0px 13px 27px -5px rgba(50, 50, 93, 0.25), 0px 8px 16px -8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

@media screen and (min-width: 992px) {
    main div.nosotros-content-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        grid-template-areas: "t t" "i c";
        column-gap: 1.5rem;

        h2 {
            grid-area: t;
        }

        img {
            grid-area: i;
            width: 80%;
        }

        div.text-container {
            grid-area: c;
        }
    }
}